<div class="text-layout">
  <h1>{{ 'Hola Mundo!' }}</h1>

  <p-button
    label="Cambiar nombre"
    icon="pi pi-bell"
    iconPos="right"
    styleClass="p-button-help"
  ></p-button>

  <p-card [header]="nombre" subheader="Sofware Developer at Thoughtworks">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quo ex
    nostrum ipsam maiores adipisci, magni alias dolore facere ab, tempore quasi
    ut commodi laborum blanditiis aut velit facilis beatae?
  </p-card>
</div>
